---
import Layout from "../layouts/Layout.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SlotPill from "../components/SlotPill.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1
        class="text-white text-5xl font-bold flex justify-center flex row gap-x-4 pb-4"
      >
        ¡Buenos días! Soy Pablo
        <a
          href="https://www.linkedin.com/in/pablo-nicolas-monardo/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge> Disonible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl text-wrap">
        <span> Futuro ingeniero Informático. </span>
        <span class="opacity-60">
          Técnico en multimedia, profe y veremos qué más
        </span>
      </h2>
      <nav class="flex gap-x-2">
        <SlotPill href="https://www.linkedin.com/in/pablo-nicolas-monardo/">
          LinkedIn
          <LinkedInIcon class="w-6 h-6" />
        </SlotPill>
        <SlotPill href="https://www.github.com/monardop">
          GitHub
          <GitHubIcon class="w-6 h-6" />
        </SlotPill>
      </nav>
    </section>
  </main>
</Layout>
