---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienceIcon from "../components/icons/Experience.astro";
import Experience from "../components/Experience.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileView from "../components/ProfileView.astro";
import CardsSlider from "../components/CardsSlider.astro";
import ProjectsPresentation from "../components/ProjectsPresentation.astro"
---

<Layout title="Pablo Monardo | Portfolio">
  <ProfileView />
  <main>
    <SectionContainer>
      <AboutMe />
    </SectionContainer>
    <SectionContainer>
      <h2 class="flex row-auto gap-10 items-center text-4xl font-bold dark:text-white">
        <ExperienceIcon class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer>
      <ProjectsPresentation/>
      <CardsSlider />
    </SectionContainer>
  </main>
</Layout>

<style>
  main {
    margin-left: 30dvw;
    margin-top: 10px;
    width: 60dvw;
  }

  @media (max-width: 975px) {
    main {
      margin: auto;
      width: 80dvw;
    }
  }
</style>
