---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienceIcon from "../components/icons/Experience.astro";
import Experience from "../components/Experience.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileView from "../components/ProfileView.astro";
import CardsSlider from "../components/CardsSlider.astro";
import ProjectsPresentation from "../components/ProjectsPresentation.astro";
import SkillsTab from "../components/SkillsTab.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Pablo Monardo | Portfolio">
  <ProfileView />
  <main>
    <SectionContainer>
      <AboutMe />
    </SectionContainer>
    <SectionContainer>
      <h2
        class="flex row-auto gap-10 items-center text-4xl font-bold dark:text-white"
      >
        <ExperienceIcon class="size-10" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer>
      <h2
        class="flex row-auto gap-10 items-center text-4xl font-bold dark:text-white mb-5"
      >
      <svg class="size-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
      </svg>
      
        Habilidades
      </h2>
      <SkillsTab/>
    </SectionContainer>
    <SectionContainer>
      <ProjectsPresentation />
      <CardsSlider />
    </SectionContainer>
    <Footer/>
  </main>
</Layout>

<style>
  main {
    margin-left: 35dvw;
    margin-top: 10px;
    width: 60dvw;
  }

  @media (max-width: 975px) {
    main {
      margin: auto;
      width: 80dvw;
    }
  }
</style>
