---
import CardsSlider from "./CardsSlider.astro";

interface Props {
  title: string;
  link: string;
  technology: string;
  description: string;
}

const { title, technology, description, link } = Astro.props;
---

<div class="m-auto">
  <a
    href={link}
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    target="_blank"
    rel="noopener noreferrer"
  >
    <h3
      class="text-4xl sm:text-xl font-bold dark:text-white"
    >
      {title}
    </h3>
    <h5 class="my-4 text-lg sm:text-base text-gray-500">{technology}</h5>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    <p class="mb-4 text-lg sm:text-sm font-normal text-gray-500 dark:text-gray-400">
      {description}
    </p>
  </a>
</div>
