<header class="flex justify-between items-center py-3 w-[1120px]">
  <img
    class="rounded-full w-6 h-6"
    src="https://media.licdn.com/dms/image/v2/C4E03AQGWVsHGZxa6oQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1637422256899?e=1733961600&v=beta&t=ve6jqnTQhsgl6yhnKAf4zQmikHUiHGseZD_1yTPcOPY"
    alt="Profile"
  />

  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </nav>
</header>
