---
import Badge from "./Badge.astro";
import SlotPill from "./SlotPill.astro";
import ImageComponent from "./ImageComponent.astro";

import LinkedInIcon from "./icons/LinkedIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
import MailIcon from "./icons/Mail.astro";

import profPicture from '../../public/profile.jpg';
---

<div id="profileView">
  <div class="h-4/5 my-10">
    <div class="w-full items-center">
      <ImageComponent
        class="size-9/12 rounded-full mx-auto"
        src={profPicture}
        alt="Profile"
        />
    </div>
  
    <h2 class="text-4xl font-bold my-3 text-center">
      Pablo Monardo
    </h2>
    <div class="text-center">
      <Badge> Actualmente trabajando </Badge>
    </div>
  
    <div class="flex flex-col gap-4 my-10">
      <SlotPill href="https://www.linkedin.com/in/pablo-nicolas-monardo/">
        <LinkedInIcon class="size-6" />
        in/pablo-nicolas-monardo
      </SlotPill>
  
      <SlotPill href="https://www.github.com/monardop">
        <GitHubIcon class="size-6" />
        /monardop
      </SlotPill>
  
      <SlotPill href="mailto:pablomonardo@gmail.com">
        <MailIcon class="size-6" />
        pablomonardo@gmail.com
      </SlotPill>
    </div>
  </div>
</div>

<style>
  #profileView {
    position: fixed;
    top: 0;
    left: 0;
    width: 30dvw;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
  }
  @media (max-width: 975px) {
    #profileView {
      display: none;
    }
  }
</style>
