---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Pablo Monardo" />
    <meta name="language" content="es" />
    <link rel="icon" type="" href="/logo.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Soy Pablo Monardo, desarrollador frontend especializado en React y Next.js. Descubre mis proyectos y habilidades en mi portfolio."
    />
    <meta
      name="keywords"
      content="desarrollador frontend, React, Next.js, JavaScript, portfolio, Pablo Monardo"
    />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="Pablo Monardo | Portfolio" />
    <meta
      property="og:description"
      content="Explora mis proyectos como desarrollador frontend especializado en React y Next.js."
    />
    <meta
      property="og:image"
      content="/profile.jpg"
    />
    <meta
      property="og:url"
      content="https://pablo-monardo-portfolio.netlify.app/"
    />
    <meta property="og:type" content="website" />

    <meta name="theme-color" content="#232323" />
    <link rel="canonical" href="https://pablo-monardo-portfolio.netlify.app/" />
  </head>
  <body class="relative text-black dark:text-white">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
        bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
        dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <slot />

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>
  </body>
</html>
